.task {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border-bottom: 1px solid rgb(255, 145, 0);
  .content {
    flex: 1;
    display: flex;
    span,
    input {
      flex: 1;
      font-size: 16px;
      min-width: 0;
    }
    span {
      margin-left: 4px;
      width: fit-content;
      &.cross-out {
        text-decoration: line-through;
        color: gray;
      }
    }
  }
  .filled-button {
    padding: 0;
    margin-left: 20px;
    svg {
      font-size: 30px;
    }
  }
}
