@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  font-family: "Indie Flower", cursive;
}

h1,
h2,
h3,
h3 {
  margin: 0;
  padding: 0;
}

/* Remove input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
  .main-container {
    background-color: #fef8ba;
    width: 70%;
    min-height: 700px;
    border-radius: 30px;
    overflow: hidden;
    .header {
      background-color: #f5da65;
      text-align: center;
      h1 {
        margin: 0;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      transition: max-height 0.5s ease-in;
    }
    .task-placeholder {
      display: flex;
      justify-content: center;
      padding: 20px;
      button {
        &:first-of-type {
          margin-right: 20px;
        }
        svg {
          margin-right: 10px;
          font-size: 25px !important ;
        }
      }
    }
  }
}

.nostyle-button {
  @extend button;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  transition: filter 0.3s;
  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    filter: brightness(0.8);
  }
  .MuiSvgIcon-root {
    font-size: inherit;
  }
}

.filled-button {
  @extend .nostyle-button;
  border-radius: 5px;
  background-color: #1fcabf;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:disabled {
    filter: brightness(0.8);
    transition: 0.3s;
    cursor: default;
  }
  span {
    padding-top: 5px;
  }
}
